/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 650px!important

/*
.theme-default-content:not(.custom)
  max-width: 1000px
  margin: 0 auto
  padding: 2rem 2.5rem
*/

img
  display: block
  margin-left: auto
  margin-right: auto