<template>
    <iframe
      :height="height"
      style="width: 100%; margin-top: 1em;"
      scrolling="no"
      :title="title"
      :src="`https://codepen.io/${user}/embed/${slug}?default-tab=${defaultTabs}&date-editable=true`"
      loading="lazy"
      allowfullscreen="true"
    />
</template>

<script>
/* eslint-disable */
export default {
  name: 'Codepen',
  props: {
    slug: {
      type: String,
      required: true,
    },
    user: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    result: {
      type: Boolean,
      default: true
    },
    css: {
      type: Boolean,
      default: true
    },
    height: {
      type: Number,
      default: 600
    },
  },
  computed: {
    defaultTabs() {
      if (this.result && this.css) return 'css,result'
      else if (this.result) return 'result'
      
      return 'css'
    }
  }
};
</script>